body {
    font-size: 17px;
}

.svg {
    height: 1em;
    margin-top: -4px;
    pointer-events:none;
    vertical-align: middle;
    width: 1em;
}

.svg .outline {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
}

ul { @apply .list-disc; }
ol { @apply .list-decimal; }

a {
    @apply .font-semibold;
    @apply .no-underline;
    @apply .text-blue-700;

    &:hover {
        @apply .text-blue-800;
    }
}

blockquote {
    @apply .border-blue-300;
    @apply .border-l-4;
    @apply .font-normal;
    @apply .italic;
    @apply .my-8;
    @apply .pl-6;
    @apply .text-gray-500;
    @apply .text-lg;
}

code {
    @apply .bg-gray-300;
    @apply .px-1;
    @apply .py-px;
    @apply .rounded;
    @apply .text-sm;
}

code.hljs {
    @apply .bg-transparent;
    @apply .p-0;

    .hljs-comment,
    .hljs-keyword,
    .hljs-meta {
        @apply .font-normal;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply .leading-tight;
    @apply .mb-4;
    @apply .mt-8;
    @apply .text-blue-900;
    @apply .font-display;

    &:first-child {
        @apply .mt-0;
    }
}

h1 {
    @apply .font-extrabold;
    @apply .text-5xl;
}

h2 {
    @apply .font-bold;
    @apply .text-4xl;
}

h2::before {
    content: " ";
    @apply block;
    @apply w-full;
    @apply mb-8;
    height: 12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20px' height='12px' viewBox='0 0 20 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3e%3cpath d='M25,1 C20,1 20,11 15,11 C10,11 10,1 5,1 C0,1 0,11 -5,11 C-10,11 -10,1 -15,1' id='Line' stroke='%23CBD5DF' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
}

h2:first-child::before {
    @apply hidden;
}

h3 {
    @apply .font-bold;
    @apply .text-2xl;
}

h4 {
    @apply .font-normal;
    @apply .text-2xl;
}

h5 {
    @apply .font-normal;
    @apply .text-xl;
}

h6 {
    @apply .font-light;
    @apply .text-lg;
}

hr {
    @apply .border-b;
    @apply .border-blue-400;
    @apply .my-12;
    @apply .rounded-full;
}

li {
    ul,
    ol {
        @apply .my-0;
    }
}

ol,
ul {
    @apply .my-4;
}

p {
    @apply .my-6;
}

pre {
    @apply .leading-loose;
    @apply .my-6;
    @apply .overflow-x-auto;
    @apply .text-base;
    @apply .p-0;

    code {
        @apply .bg-transparent;
        @apply .block;
        @apply .p-4;
    }
}

table {
    @apply w-full text-left rounded-lg overflow-hidden;

    th {
        @apply text-sm font-semibold text-gray-700 p-2 bg-gray-300;
    }

    tr:first-child td {
        @apply border-0;
    }

    td {
        @apply p-2 border-t text-sm bg-gray-100 border-gray-400;
    }
}
