@tailwind base;
@tailwind components;

// Custom code syntax highlighting theme.
@import 'prism-theme';

@import 'base';
@import 'navigation';
@import 'documentation';
@import 'search';

@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
    width: 0 !important;
}

.scrollbar-none {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
